@font-face {
    font-family: 'Arvo';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/arvo/v20/tDbD2oWUg0MKqScQ7Z7o_vo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0px;
    font-family: Arvo;
}

/* Header  */

.header {
    display: flex;
    flex-direction: column;
    background-color: indianred;
}

.header .main-logo {
    font-size: 32px;
    color: white;
    font-weight: bold;
}

nav {
    display: flex;
    margin: auto;
    width: 80%;
    padding: 20px;
    justify-content: space-between;
}

.nav-tabs {
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-size: 18px;
    color: white;
}

.header .main-message-title {
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.main-div {
    display: flex;
    margin: auto;
    width: 80%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}

.main-message {
    width: 45%;
}

.main-message p {
    margin: 20px;
    margin-left: 0px;
}

.header .main-message-text {
    font-size: 18px;
    color: white;
}

.main-img {
    max-width: 100%;
    height: auto;
}


/* Additional info */

.additional-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.additional-info-title {
    font-size: 32px;
    color: black;
    padding: 5px;
}